body {
    font-family: 'monospace' !important;
    background-color: #222225ff;
    margin: 0;

    .navbar {
        background-color: none;
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        padding-top: 3rem;

        .home {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            color: #9da5b3ff;
            text-decoration: none;
            font-size: 1.5rem;
            width: 18%;
            margin-left: 5rem;

            a {
                color: #9da5b3ff;
                text-decoration: none;
                padding: 0.5rem;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        .search {
            display: flex;
            justify-content: space-between;
            width: 50%;
            margin-right: 1rem;

            form {
                display: flex;
                justify-content: space-between;
                width: 100%;

                label {
                    color: white;
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-right: 1rem;
                    text-wrap: nowrap;
                    padding: 0.5rem;
                }

                input {
                    width: 100%;
                    border: none;
                    background-color: rgba(255, 255, 255, 0.0);
                    border-radius: 5px;
                    padding: 0 1rem;
                    color: white;
                    font-size: 1.5rem;

                    &:focus {
                        outline: none;
                    }
                } 
            }
        }

        .nav-links {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 2rem; 
            

            a {
                color: #9da5b3ff;
                text-decoration: none;
                padding: 0.5rem;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Add this line to center horizontally */
        height: 100%; /* Add this line to ensure the content takes the full viewport height */
    
        #logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-top: 15rem;
        }

        #moto {
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
            margin: 5rem;
            text-align: center;
        }
    }
    
}
