body {
    font-family: 'monospace' !important;
    background-color: #222225ff;
    margin: 0;
    padding: 0;
    

    .navbar {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        padding-top: 3rem;

        .home {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            color: #9da5b3ff;
            text-decoration: none;
            font-size: 1.5rem;
            width: 18%;
            margin-left: 5rem;

            a {
                color: #9da5b3ff;
                text-decoration: none;
                padding: 0.5rem;
                font-size: 1.5rem;
                font-weight: bold;
                &:hover {
                    color: white;
                }
            }
        }

        .search {
            display: flex;
            justify-content: space-between;
            width: 50%;
            margin-right: 1rem;

            form {
                display: flex;
                justify-content: space-between;
                width: 100%;

                label {
                    color: #9da5b3ff;
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-right: 1rem;
                    text-wrap: nowrap;
                    padding: 0.5rem;
                    &:hover {
                        color: white;
                    }
                }

                input {
                    width: 100%;
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                    border-radius: 5px;
                    padding: 0 1rem;
                    color: white;
                    font-size: 1.5rem;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .nav-links {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 2rem;

            a {
                color: #9da5b3ff;
                text-decoration: none;
                padding: 0.5rem;
                font-size: 1.5rem;
                font-weight: bold;
                &:hover {
                    color: white;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Add this line to center horizontally */

        #logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-top: 10rem;
        }

        #moto {
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
            margin: 5rem;
            text-align: center;
        }
    }

    .page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left; /* Add this line to center horizontally */
        padding-top: 5rem;

        color: rgb(224, 227, 233);
        width: 42%;
        margin-left: 25%;

        .toc {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                margin-bottom: 3rem;

                li {
                    font-size: 1.5rem;
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                    padding-left: 1rem;
                    a {
                        color: #9da5b3ff;
                        text-decoration: none;
                        font-size: 1rem;
                        font-weight: bold;
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }

        h1 {
            font-size: 2rem;
            margin: 0;
        }

        .meta {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 2rem;
            margin: 0;
            font-size: 1 rem;
            color: gray;
        }

        .summary {
            font-size: 1rem;
            margin-top: 1rem;
            width: 100%;
            line-height: 1.5rem;
            text-align: justify;
            overflow-wrap: break-word; 
            word-break: break-word;    
            hyphens: auto;             
        }

        .disclaimer {
            font-size: 1rem;
            margin-top: 1rem;
            width: 100%;
            text-align: justify;
            line-height: 1.5rem;
            color: darkgoldenrod;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: white;
            font-size: 1rem;

            th {
                background-color: #333;
                color: white;
                font-weight: bold;
            }

            th,
            td {
                padding: 0.5rem;
                text-align: left;
            }

            &.relations {
                td:nth-child(1) {
                    color: dodgerblue;
                }
                td:nth-child(3) {
                    color: lawngreen;
                }
            }
            &.scale {
                td:nth-child(1) {
                    color: lawngreen;
                }
            }
            &.equation-terms {
                td:nth-child(3) {
                    color: lawngreen;
                }
            }
        }

        .equation {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: white;
            font-size: 2rem;
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1rem;
    }
}

a {
    color: darkgoldenrod;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    &:hover {
        color: white;
    }
}

.katex {
    font-size: 1.5rem;
    color: cyan;
}

.hljs-copy {
    position: relative;
    top: 38px;
    left: 95%;
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
        filter: invert(1);
        opacity: 0.5;
    }
}

@media only screen and (max-width: 800px) {
    body {
        .navbar {

            .home {
                width: 100%;
                margin-left: 0;
                justify-content: center;
                a {
                    font-size: 1rem;
                }
            }
            .search {
                display: none;
            }
            .nav-links {
                width: 100%;
                justify-content: center;
                gap: 1rem;
                a {
                    font-size: 1rem;
                }
            }
            
        }

        .content {
            #logo {
                width: 90%;
                margin-top: 5rem;
            }
            #moto {
                font-size: 1rem;
                margin: 2rem;
                margin-bottom: 15rem;
            }
        }
        .page {
            width: 90%;
            margin-left: 5%;
        }
    }

.hljs-copy {
    top: 38px;
    left: 90%;
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
        filter: invert(1);
        opacity: 0.5;
    }
}
}

::-webkit-scrollbar {
    height: 8px; /* height of horizontal scrollbar ← You're missing this */
    width: 8px; /* width of vertical scrollbar */
    border: 0;
}

::-webkit-scrollbar-thumb {
    background: #4c4d52; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}
